.button-grid {
    position: absolute;
    right: 24px;
    bottom: 24px;
    flex-direction: column;
}

.button-row {
    flex-direction: row;
    margin-bottom: 8px;
}

.attack-button {
    width: 96px;
    height: 32px;
    margin-right: 8px;
    background-color: #C4B5FD;
    border-width: 2px;
    border-color: rgb(59, 54, 100);
    border-radius: 0px;
    color: #111827;
    font-size: 14px;
}

.attack-button:hover {
    background-color: #A78BFA;
}

.attack-button:active {
    background-color: #8B5CF6;
}

.attack-button:disabled {
    opacity: 0.4;
}
